<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>HTML Form with Tailwind CSS</title>
  </head>
  <body class="bg-gray-100 h-screen">
    <div class="h-full flex items-center justify-center">
      <form action="result" method = "POST" class="bg-white p-6 rounded-lg">
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2" for="newsstring">Enter news text</label>
          <input class="border border-gray-400 p-2 w-full" id="newsstring" type="text" name="newsstring">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2" for="newspaper">Select Newspaper</label>
          <select class="border border-gray-400 p-2 w-full" id="newspaper" name="newspaper">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 font-medium mb-2" for="datepicker">Date Picker</label>
          <input class="border border-gray-400 p-2 w-full" id="datepicker" name="datepicker" type="date">
        </div>
        <div class="text-center">
          <button class="bg-indigo-500 text-white p-2 rounded-lg hover:bg-indigo-600" type="submit">Search</button>
        </div>
      </form>
    </div>
  </body>
</html>
